body {
    background-color: rgb(241, 241, 241);
}
.cicle {
    border-top-left-radius: 50%;
    border-top-right-radius: 50%;
    border-bottom-left-radius: 50%;
    border-bottom-right-radius: 50%;
}
.page {
    margin: 0 auto;
    padding-top: 1px;
    padding-bottom: 66px;
}
.panel {
    position: relative;
    border-top-left-radius: 12px;
    border-top-right-radius: 12px;
    border-bottom-left-radius: 12px;
    border-bottom-right-radius: 12px;
    margin: 12px 7px 0 7px;
    background-color: rgb(255, 255, 255);
    text-align: left;
}
.c_head {
    height: 57px;
}
.c_head img {
    position: absolute;
    top: 8px;
    left: 11px;
    border-top-left-radius: 22px;
    border-top-right-radius: 22px;
    border-bottom-left-radius: 22px;
    border-bottom-right-radius: 22px;
}
.u_name, .c_time {
    margin-left: 72px;
    position: relative;
    top: 10px;
}
.u_name {
    font-size: 15px;
    color: rgb(51, 51, 51);
}
.c_time {
    font-size: 12px;
    color: rgb(153, 153, 153);
}
.c_img {
    position: relative;
}
.c_img::after {
    content: " ";
    display: block;
    width: 38px;
    height: 38px;
    position: absolute;
    top: 15px;
    right: 15px;
    background-image: url(play.png);
    background-size: 100%;
    z-index: 20;
}
.c_img * {
    width: 100%;
    height: 100%;
}
.i_one div[index="1"], .i_three div[index="1"] {
    opacity: 1;
}
.i_one div[index="2"], .i_three div[index="2"] {
    opacity: 0;
}
.i_one div, .i_three div, .i_four > div {
    position: absolute;
    top: 0;
}
.i_three {
    perspective: 100em;
    -webkit-perspective: 100em;
    -o-perspective: 100em;
    -ms-perspective: 100em;
    -moz-perspective: 100em;

    perspective-origin: 50% 50%;
    -webkit-perspective-origin: 50% 50%;
    -o-perspective-origin: 50% 50%;
    -ms-perspective-origin: 50% 50%;
    -moz-perspective-origin: 50% 50%;
}
.i_four {
    overflow: hidden;
}
.i_four > div {
    perspective: 100em;
    -webkit-perspective: 100em;
    -o-perspective: 100em;
    -ms-perspective: 100em;
    -moz-perspective: 100em;
}
.i_four_one {
    left: -50%;

    perspective-origin: left center;
    -webkit-perspective-origin: left center;
    -o-perspective-origin: left center;
    -ms-perspective-origin: left center;
    -moz-perspective-origin: left center;
}
.i_four_two {
    right: -50%;

    perspective-origin: 100% 50%;
    -webkit-perspective-origin: 100% 50%;
    -o-perspective-origin: 100% 50%;
    -ms-perspective-origin: 100% 50%;
    -moz-perspective-origin: 100% 50%;
}
.i_four div div {
    position: absolute;
    top: 0;
    left: 0;
}
.i_four div div div {
    width: 50%;
    background-size: cover;
}
.i_four div[index="1"] div, .i_four div[index="2"] div {
    margin-left: 50%;
    background-position: center left;
}
.i_four div[index="3"] div, .i_four div[index="4"] div {
    background-position: center right;
}
.i_four div[index="1"], .i_four div[index="3"] {
    z-index: 11;
}
.i_four div[index="2"], .i_four div[index="4"] {
    z-index: 10;
}
.i_five {
    overflow: hidden;
}
.i_five > div {
    position: absolute;
    top: 0;
    left: 0;
}
.i_five div[index="1"] {
    z-index: 11;
}
.i_five div[index="2"] {
    z-index: 10;
}
.i_five div div {
    width: 25%;
    height: 16.7%;
    background-size: 400%, 400%;
    float: left;
}
.i_seven {
    overflow: hidden;

    perspective: 100em;
    -webkit-perspective: 100em;
    -o-perspective: 100em;
    -ms-perspective: 100em;
    -moz-perspective: 100em;

    perspective-origin: 50% 50%;
    -webkit-perspective-origin: 50% 50%;
    -o-perspective-origin: 50% 50%;
    -ms-perspective-origin: 50% 50%;
    -moz-perspective-origin: 50% 50%;
}
.i_seven div {
    width: 200%;
    position: absolute;
    top: 0;
}
.i_seven div[index="1"] {
    left: -100%;
    opacity: 1;
    z-index: 11;
}
.i_seven div[index="1"]  img {
    float: right;
    width: 50%;
    z-index: 10;
}
.i_seven div[index="2"] {
    right: -100%;
    opacity: 0;
}
.i_seven div[index="2"]  img {
    width: 50%;
}
.c_topic {
    font-size: 15px;
    line-height: 1em;
    margin-top: 10px;
    color: rgb(72, 109, 154);
}
.c_topic li {
    display: inline-block;
    margin-left: 20px;
}
.c_zan {
    text-align: center;
    margin-top: 9px;
}
.c_zan em {
    width: 47px;
    display: inline-block;
    margin: 0 auto;
    padding-top: 50px;
    font-size: 12px;
    background-size: 47px;
    background-repeat: no-repeat;
}
.c_zan .before {
    color: rgb(72, 109, 154);
    background-image: url(praise.png);
}
.c_zan .after {
    color: rgb(250, 177, 45);
    background-image: url(praise_press.png);
}
.c_watched {
    position: absolute;
    bottom: 10px;
    left: 22px;
}
.c_watched em {
    background-image: url(watched.png);
    background-size: 12px;
    background-repeat: no-repeat;
    padding-left: 16px;
    font-size: 10px;
    color: rgb(221, 218, 218);
}
.c_view p {
    display: inline-block;
    font-size: 10px;
    color: rgb(221, 218, 218);
}
.c_content {
    width: 17px;
    height: 22px;
    position: absolute;
    right: 22px;
    bottom: 12px;
    background-image: url(comments.png);
    background-size: 17px;
    background-repeat: no-repeat;
}
.c_foot {
    height: 37px;
    margin-top: -30px;
}