/*!
站点通用样式
==============================================
 */

@import url('include/reset.css?__inline');
@import url('include/base.css?__inline');
@import url('include/font.css?__inline');
@import url('include/components.css?__inline');
@import url('include/icons.css?__inline');
@import url('include/layout.css?__inline');

@import url('include/brick.css?__inline');

.hide {
    display:none;
}
.show {
    display:block;
}
.pointer {
    cursor:pointer;
}
.fl {
    float:left;
}
.fr {
    float:right;
}
.clear {
    clear:both;
    height:2px;
    line-height:2px;
}
a:focus {
    outline:none;
    -moz-outline:none;
}
.f14 {
    font-size: 14px;
}
.f15 {
    font-size: 14px;
}